*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'poppins',sans-serif;

}
.navbar{
    background-color: red;
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container {
    background-color: black;
    color: white;
    padding: 15px;
    width: 25%;
    margin: 30px;
}
.book-container h2{
    background-color:black;
    color:white;
}
.book-container button{
    background-color: red;
    color: black;
     border-radius:10px ;
     padding-top: 5px;
     padding-right: 10px;
     padding-left: 10px;
     padding-bottom: 5px;
     margin-top: 10px;
}
.add-button{
    background-color: red;
    color: black;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.book-container h2{
    color: red;
}
.book-container button{
    background-color: red;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: o;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: red;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    display: none;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-box textarea{
    background: transparent;

    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}.popup-box input::placeholder
{
    color: black;
}
.popup-box textarea::placeholder
{
    color: black;
}
.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}